dbsearcherwithui/src/main/app/useinputdataflow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="HTTP_Listener_Configuration3" host="localhost" port="5003" doc:name="HTTP Listener Configuration"/>
    <db:mysql-config name="MySQL_Configuration8" host="localhost" port="3306" user="root" database="Personal" doc:name="MySQL Configuration"/>
    <flow name="useinputdataflowFlow">
        <http:listener config-ref="HTTP_Listener_Configuration3" path="/" doc:name="HTTP"/>
        <custom-transformer class="business.ConvertInsertDataParams" doc:name="Java"/>
        <logger message="INSERT INTO `personal`(`Name`, `AccountNumber`, `Address`, `Marks`) VALUES ('#[sessionVars.userName + &quot;' , '&quot; + sessionVars.accountNumber + &quot;','&quot; + sessionVars.address + &quot;','&quot; + sessionVars.marks]);" level="INFO" doc:name="Logger"/>
        <db:insert config-ref="MySQL_Configuration8" doc:name="Database">
            <db:parameterized-query><![CDATA[INSERT INTO `personal`(`Name`, `AccountNumber`, `Address`, `Marks`) VALUES (#[sessionVars.userName], #[sessionVars.accountNumber], #[sessionVars.address], #[sessionVars.marks]);]]></db:parameterized-query>
        </db:insert>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
</mule>
