image_receiver/src/main/app/image_receiver.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ftp="http://www.mulesoft.org/schema/mule/ee/ftp" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/ftp http://www.mulesoft.org/schema/mule/ee/ftp/current/mule-ftp-ee.xsd">
    <http:listener-config name="Imagelistner5000" host="0.0.0.0" port="5000" doc:name="HTTP Listener Configuration"/>
    <flow name="image_receiverFlow">
        <ftp:inbound-endpoint host="localhost" port="5000" responseTimeout="10000" doc:name="FTP"/>
        <logger message="payload = #[payload]" level="INFO" doc:name="Logger"/>
        <logger message="message = #[message]" level="INFO" doc:name="Copy_of_Logger"/>
    </flow>
</mule>
