databaseconnector1/src/main/app/flow2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration3" host="localhost" port="5051" doc:name="HTTP Listener Configuration"/>
    <db:mysql-config name="MySQL_Configuration2" host="localhost" port="3306" user="root" database="Personal" doc:name="MySQL Configuration"/>
    <flow name="flow2Flow">
        <http:listener config-ref="HTTP_Listener_Configuration3" path="/runAll" doc:name="HTTP"/>
        <custom-transformer class="databaseconnector1.PayloadSetter1" doc:name="Java1"/>
        <db:insert config-ref="MySQL_Configuration2" doc:name="Database">
            <db:parameterized-query><![CDATA[INSERT INTO `personal`(`Name`, `AccountNumber`, `Address`, `Marks`) VALUES ('Jim',#[sessionVars.accNum],'London',90)]]></db:parameterized-query>
        </db:insert>
        <flow-ref name="databaseconnector1Flow" doc:name="databaseconnector1Flow"/>
    </flow>
</mule>
