MathApp/src/main/app/math.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="5000" doc:name="HTTP Listener Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration1" host="0.0.0.0" port="5001" doc:name="HTTP Listener Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration2" host="0.0.0.0" port="5002" doc:name="HTTP Listener Configuration"/>
    <flow name="mathFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <parse-template location="C:\Users\Admin\AnypointStudio\workspace\MathApp\src\main\webapp\MathAdder.html" doc:name="Parse Template"/>
        <set-property propertyName="content-type" value="text/html" doc:name="Property"/>
    </flow>
    <flow name="mathFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/" doc:name="HTTP"/>
        <flow-ref name="theSubFlow" doc:name="theSubFlow"/>
        <logger message="I have left the sub flow" level="INFO" doc:name="Logger"/>
        <logger message="#[message.payload]" level="INFO" doc:name="Logger"/>
        <parse-template location="C:\Users\Admin\AnypointStudio\workspace\MathApp\src\main\webapp\ShowResults.html" doc:name="Parse Template"/>
        <set-property propertyName="content-type" value="text/html" doc:name="Copy_of_Property"/>
        <choice-exception-strategy doc:name="mathChoice_Exception_Strategy">
            <catch-exception-strategy when="#[exception.causedBy(java.lang.ArithmeticException)]" doc:name="Catch Exception Strategy">
                <logger message="Oh noes!!" level="INFO" doc:name="Logger"/>
                <set-payload value="do not devide by zero " doc:name="Set Payload"/>
                <parse-template location="C:\Users\Admin\AnypointStudio\workspace\MathApp\src\main\webapp\errorfile.html" doc:name="Parse Template"/>
            </catch-exception-strategy>
        </choice-exception-strategy>
    </flow>
    <sub-flow name="theSubFlow">
        <logger message="I have entered the subflow!" level="INFO" doc:name="Logger"/>
        <custom-transformer class="MathDo" doc:name="Java"/>
    </sub-flow>
</mule>
